  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
    /* roboto-500 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}
ul{
    list-style: none;
    
}
a{
    color: #fff;
    text-decoration: none;
}
p{
    color: #fff;
}
h1,h2,h3,h4{
    color: #fff;
}

.wrapper{
    width: 100%;
}
hr{
    color: #fff;
    opacity: 20%;
    z-index: 4;
}
/* ________________________________________________________ */

/* START HEADER */

header{
    background-image: url(../image/bacground-header.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.header-wrapper-top-section{
    height: 5vh;
}
.header-nav-section{

}
.header-wrapper{
    display: flex;
    justify-content: flex-end;
    
    width: 65%;
    margin: 0 auto; 
}
nav{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66%;
    
}
.list-item{
    margin-bottom: 2px;
}

.list-item .first-link{
    margin-bottom: 2px;
    height: 5vh;
    display: flex;
    align-items: center;
    border-top: 2px solid #5B00FB;
}
.nav-list{
    display: flex;
    height: 5vh;
    width: 55%;

    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.header-link-item{
    
    padding:0 18px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #fff;
}
.first-link{
    color: #5B00FB;
}
.header-profile-img{
    border: 1px solid #fff;
    border-radius: 100%;

    padding: 1%;
    cursor: pointer;
}
.information-header-section{
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    height: 50vh;

}
header .wrapper{
    grid-column: 2;
}
.header-group{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    height: 25vh;
    justify-content: space-evenly;

}
.title-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}
.title-group h1{
    color: #FFF;
    text-align: center;

    font-family: 'Roboto';
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-group{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.btn-subtitle{
    margin: 0 auto;

    color: #fff;
    border: none;
    background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    padding: 14px 40px;
    width: 20%;
    border-radius: 46px;

    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
   
}
.btn-subtitle:hover{
    background: linear-gradient(90deg, #D70BCA 0%, #5D00FA 100%);
}






/* END HEADER */
/* ________________________________________________________ */
/* START MAIN */
main{
    background-image: url(../image/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10% auto 10%;
    row-gap: 150px;
    grid-template-rows: 70vh 131vh;
}

/* FEATURED START */
.featured-section{
    display: grid;
    grid-column: 2;
}
.featured-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70vh;
}
.featured-wrapper h1{
    color: #FFF;
    text-align: center;

    font-family:'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.group-cart{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cart{
    background: radial-gradient(circle at 100% 6.65%, #BB82DB 0%, #636DC1 57.3%, #1D0F35 100%);
    border-radius: 10px;

    width: 255px;
    height: 436px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 50px;
}

/* .cart:hover{
    transition: 0.5s;
    transform: scale(1.015);
} */

.cart img{
    width: 215px;
    height: 215px;
    border-radius: 5px;
}
/*  */


.btn-cart span{
    background: -webkit-linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding: 14px 46px;
}
.btn-cart{
    
    width: 188px;
    height: 47px;

    border: none;
    color: #fff;
    border-radius: 37px;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.btn-cart:hover{
    
    background: -webkit-linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    color: #fff;
    -webkit-text-fill-color: transparent;
    
}
.btn-cart span:hover{
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*  */
.cart h2{
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.cart span{
    display: block;
}
.cart p{
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;

    line-height: normal;
    text-transform: uppercase;
}
.latest-section{
    display: grid;
    grid-column: 2;
    padding-bottom: 160px;
}
/* FEATURED END */
/* ________________________________________________________ */
/* LATEST START */
.latest-wrapper{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 10% 90%;
    row-gap: 40px;
}

.latest-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 105px;
}
.latest-group h1{
    color: #FFF;

    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.latest-group-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}
.btn-leates-change1{
    background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 23px;
    border: none;

    color: #fff;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-leates-change{
    color: #FFF;

    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}
.latest-wrapper .group-cart{
    display: grid;
    justify-items: center;
    grid-template-columns: 250px 250px 250px 250px;
    row-gap: 3%;
    
}
.latest-wrapper .group-cart .cart{
    
}

/* LATEST END */

/* END MAIN */
/* footer start */
footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 50vh;
}
footer hr{
    opacity: 100%;
    color: #fff;
    height: 0.5px;
}
/*  */
.form-section{
    width: 80%;

    text-align: center;

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
}
.form-section p{
    color: #fff;

    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-form-submit{
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #5D00FA 0%, #D70BCA 100%);
    width: 59px;
    height: 48px;
    flex-shrink: 0;
    cursor: pointer;
}
form{
    width: 410px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 0.5px solid #d0d0d0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
}
.group-form{
    display: flex;
    padding-left: 20px;
    width: 335px;
    justify-content: space-between;
}
.form-input{
    background: none;
    color: #fff;
    border: none;
    height: 44px;
    width: 289px;
}
/*  */
.contact-section{
    width: 80%;

    padding: 0 2%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.wrapper-contact{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.footer-title-nav{
    width: 18%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    height: 80%;
    
}
.footer-title-nav:nth-child(2){
    height: 157px;
}
.title-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
}
.contact-section p{
    
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.contact-section a{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}

.footer-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
}
.footer-group ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 65%;
}
.footer-group ul li{
    border: 0.5px solid #fff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.email-list-item1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.email-list-item2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
}
.email-list-item3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

/*  */
.card-section{
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* footer end */

/* _____________________________________________________ */
/* PAGE DISCOVER START !!!!!!!!!!!!WARNING!!!!!!!!!!!!!!!! */







/* PAGE DISCOVER END */
/* ______________________________________________________ */